[Unit]
Description=detached "terraform destroy" instance for Cloudsoft::Terraform::Infrastructure

[Service]
WorkingDirectory=%h/tfdata/%i
ExecStart=/usr/bin/env terraform destroy -lock=true -no-color -auto-approve
# NB: The files below must be the same as what the current version of
# the CloudFormation resource provider expects.
StandardOutput=file:%h/tfdata/%i/%p@%i-stdout-live.log
StandardError=file:%h/tfdata/%i/%p@%i-stderr-live.log
Restart=no
